@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Fonts
$main-font: 'Istok Web', sans-serif;

// Colors
$color-primary: #6E1010;

$color-secondary: #A83131;

$color-font: #ffffff;

$color-background: rgb(231, 197, 197);

// D6A2A2
// e3b5b5

.primary-color {
  color: $color-primary;
}

.primary-bg {
  background-color: $color-primary;
}

.secondary-color {
  color: $color-secondary;
}

.secondary-bg {
  background-color: $color-secondary;
}

.white-color {
  color: $color-font !important;
}

:root {
  margin: 0;
  padding: 0;
  font-family: $main-font !important;
}

body,
.defaut-bg {
  font-family: $main-font !important;
  font-weight: 400 ;
  background-color: $color-background;
}

.font-istok{
  font-family: $main-font !important;
}

.bg-header {
  background-color: $color-primary !important;
}

@media (max-width: 1023px) {
  #lang-btn{
    background-color: $color-primary;
  }
}

.main-button {
  position: relative;
  background-color: $color-secondary;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: $color-font;
  cursor: pointer;

  &:hover {
    color: $color-font !important;
    background-color: $color-background !important;
  }

  &.active {
    color: $color-font !important;
    background-color: $color-background !important;
  }
}

.nav-button {
  position: relative;
  background-color: $color-primary;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: $color-font;
  cursor: pointer;

  &:hover {
    color: $color-font !important;
    background-color: $color-secondary !important;
  }

  &.active {
    color: $color-font !important;
    background-color: $color-secondary !important;
  }
}

.search-input{
  border-radius: 10px;
  color: $color-font !important;
  border: 0 !important;
  background-color: $color-secondary !important;
  padding-left: 20px !important;
  height: 60px !important;
  font-size: 18px !important;
  &::placeholder{
    color: $color-font !important;
    opacity: 0.5;
  }
}

.search-button{
  height: 60px;
  width: 50px !important;
  position: relative;
  background-color: $color-secondary;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: $color-font;
  cursor: pointer;

  &:hover {
    color: $color-font !important;
    background-color: $color-background !important;
  }
}

.slide-bottom-15 {
  -webkit-animation: slide-bottom-15 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-bottom-15 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom-15 {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom-15 {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.desktop-dropdown-menu{
  background-color: $color-secondary !important;

  .ant-dropdown-menu-item{
    color: $color-font !important;
    font-weight: 700 !important;
  }
}

.mobile-menu{
  background-color: $color-primary !important;

  .ant-menu-item{
    color: $color-font !important;
    font-weight: 700;
  }

  .ant-menu-submenu-title{
    color: $color-font !important;
    font-weight: 700;
    &:active{
      background-color: $color-secondary !important;
    }
  }

  .ant-menu-item-selected{
    background-color: $color-secondary !important;
  }

  .ant-menu-sub{
    background-color: $color-primary !important;
  }
}

.bg-footer{
  background-color: $color-primary !important;
}

.footer-block{
  width: 380px;
  height: fit-content;
  text-align: center;
  margin: 20px auto;
  color: $color-font;
  font-weight: 700;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.footer-text{
  color: $color-font;
  font-weight: 700;
}

.section-header{
  font-weight: 700;
  color: $color-secondary;
  text-align: center;
}

.event-card{
  max-width: 320px;
  margin: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3) !important;
  font-family: $main-font !important;
  background-color: $color-secondary !important;
  color: $color-font;

  &:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5) !important;
    background-color: $color-primary !important;

    .ant-card-actions{
      background-color: $color-primary !important;
    }
  }

  .ant-card-actions{
    background-color: $color-secondary !important;
    color: $color-font !important;
    font-weight: 700;

    li{
      color: $color-font !important;
      span{
        &:hover{
          color: $color-font !important;
        }
      }
    }
  }
}

.paging {
  .ant-pagination-next button span,
  .ant-pagination-prev button span{
    color: $color-font !important;
  }

  .ant-pagination-item-active{
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;
  }

  .ant-pagination-item a{
    color: $color-font !important;
  }
}

.datePicker-text-right input,
.inputNumber-text-right .ant-input-number-input{
  text-align: right;
}

.right-align-photo .ant-form-item-control-input-content{
  display: flex;
  justify-content: right;
}

.custom-upload{
  .ant-upload{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.white-price{
  .ant-input-number-input {
    color: $color-font;
  }
  .ant-input-number-group-addon{
    color: $color-font;
  }
}

.steps-custom {
  .ant-steps-item-active{
    .ant-steps-item-icon{
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
      font-weight: bold;
    }
  }
  .ant-steps-item-icon{
    background-color: $color-primary !important;
  }
  .ant-steps-icon,
  .ant-steps-item-title{
    color: $color-font !important;
  }

  .ant-steps-item-title::after{
    background-color: $color-font !important;
  }
}

.bar-chart{
  width: 100% !important;
}
